* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

body {
  background-color: #111;
}

.details-movie {
  border: none;
  background-color: #202020;
}

.big-container {
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0px;
}

.card h2 {
  text-transform: uppercase;
}

.card p {
  line-height: 1.6rem;
}

@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}

.header-h5 {
  color: #fcf9be;
  text-align: center;
  margin-top: 10px;
  font-size: 1.8rem;
}

.h5 {
  color: #fcf9be;
  text-align: center;
}

.p {
  color: #fcf9be;
  margin-top: 8px;
  font-size: 0.9rem;
}
.movie {
  margin-top: 15px;
  display: grid;
  place-items: center;
  padding: 10px;
  transition: transform 0.2s;
  cursor: pointer;
}

.movie:hover {
  transform: scale(1.1);
}

.img {
  cursor: pointer;
}

.img:hover {
  box-shadow: 0 0 25px rgb(33, 192, 19);
}

.header {
  justify-content: center;
  align-items: center;
}

.not-found {
  margin: auto;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.img-carousel {
  aspect-ratio: 16/9;
  max-height: 680px;
  object-fit: cover;
}

.carousel-fade {
  position: absolute;
  top: 55vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

@media (max-width: 680px) {
  .carousel-fade {
    position: absolute;
    top: 25vh;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
  }
}


.hackflix-navbar {
  color: green;
}

.home {
  margin-right: 30px;
  color: wheat;
  text-decoration: none;
}

.home:hover {
  color: rgb(45, 197, 45);
}

.detail-description {
  margin-top: 60px;
  margin-bottom: 70px;
  color: #f5f5f5;
}

.middle-div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.hero-container {
  text-align: center;
}

.spinner {
  margin-top: 30px;
  text-align: center;
}

.noMatch {
  width: 50%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

.btn-noMatch {
  margin-top: 20px;
  text-align: center;
}

.about-title {
  width: 72%;
  align-items: center;
  color: #fcf9be;
}

.h2-about {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  font-size: 2.5rem;
  -webkit-animation: puff-in-top 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both;
  animation: puff-in-top 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both;
}

@-webkit-keyframes puff-in-top {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-top {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.h3-about {
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 5px;
  font-size: 2.5rem;
  margin-top: 90px;
  font-weight: 700;
  -webkit-animation: puff-in-top 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both;
  animation: puff-in-top 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both;
}

.img-about {
  max-height: 589px;
}

.label-contact {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fcf9be;
}

.label-search {
  color: #fcf9be;
  padding: 10px;
  font-size: 1.3rem;
}

.contact-form {
  border-radius: 10px;
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: #24303c;
  box-shadow: 7px 13px 37px #000;
}

.h1-contact {
  color: green;
  width: 20%;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 15px;
}

.btn-contact {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.form-rating {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: baseline;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  color: #f5f5f5 !important;
}

.form-control-contact {
  padding: 2rem !important;
}

.title-contact-us {
  color: #f5f5f5bb;
}

.formulary {
  padding: 3rem 1.5rem 3rem 1.5rem;
  background-color: #3a3d399d;
  backdrop-filter: blur(20px);
  text-align: center;
  border-radius: 10px;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color: green !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #f5f5f5b9 !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid green !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root::before {
  border-bottom: 2px solid #f5f5f5b9 !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root {
  color: #fcf9be !important;
}

@media (max-width: 576px) {
  .form-rating {
    flex-wrap: wrap;
    display: block;
  }
}

.back-home-contact:hover {
  color: green !important;
}

.input-search {
  padding: 7px;
  margin-top: 13px;
  border-radius: 15px;
  height: 50%;
}

.label-search {
  text-align: center;
}

.btn-search {
  margin: 13px;
  height: 50%;
}

.footer {
  padding: 10px;
  width: 100%;
}

.icon-footer {
  text-align: center;
  margin: auto;
  width: 30%;
  margin-top: 50px;
}

.bi {
  font-size: 1.5rem;
}

.footer-element {
  font-size: 1rem;
}

.icon-copyright {
  margin-top: 115px;
  width: 100%;
}

.container-movieList {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* .main-noMatch {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1566320238645-032c8c55845a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
} */

/* Probando Blur */

.rating {
  position: absolute;
  z-index: 1;
  left: 25%;
  width: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(20, 8, 5);
  backdrop-filter: blur(5px);
  font-size: 1.2rem;
  color: rgb(25, 154, 2);
  /* display: grid;
  place-items: center; */
}

.card-film {
  position: relative;
}

/* Navbar  */

.navbar-static {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100; 
}

.navbar-dynamic {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #111;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.5164081990217962) 0%,
    rgba(35, 156, 61, 0.77) 69%)
}

/* Footer style */

.footer {
  margin-top: 5.5rem;
  font-size: 1.1rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61), #111 0%,
    rgba(35, 156, 61, 0.77) 69%);
}

.footer input {
  font-weight: 300;
}

.footer button {
  font-weight: 300;
}

.footer-container {
  width: 90%;
  padding: 3rem 0rem 3rem 0rem;
}

.footer-list {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.791);
}

.footer-list li {
  margin-bottom: 0.5rem;
  font-weight: 300;
}

/* .footer-cta {
  background-color: green !important;
} */

.footer-cta:hover {
  background-color: #ca1717ad !important;
  color: #f5f5f5;
}

.footer-cta {
  background-color: #111111b3;
}

.footer-text {
  color: rgba(255, 255, 255, 0.791);;
}

/* about project  */

.container-about {
  margin-top: 7rem;
}

.icon-about {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 80%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-team {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 2px var(--brand-ligth-brown);
}

.icons-team i {
  margin-left: 10px;
  font-size: 30px;
  transition: 0.3s;
}

@media (max-width: 576px) {
  .card-body-foto {
    width: 90%;
    padding: 2rem;
  }
}

@media (max-width: 360px) {
  .card-body-foto {
    width: 100%;
  }
}

.btn-send {
  border-radius: 20px;
}